<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<main class="cart-main">
    <% if (products.length > 0) { %>
        <ul class="cart-items">
            <% products.forEach(p => { %>
                <li class="cart-item">
                    <div class="cart-item-details">
                        <h2><%= p.productId.title %></h2>
                        <span class="cart-item-quantity">Quantity: <%= p.quantity %></span>
                    </div>
                    <span class="cart-item-price">$<%= p.productId.price * p.quantity %></span>
                    <form action="/cart-delete-item" method="POST" class="delete-form">
                        <input type="hidden" value="<%= p.productId._id %>" name="productId">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-delete" type="submit">
                            Delete
                        </button>
                    </form>
                </li>
            <% }) %>
        </ul>
        <div class="cart-total">
            <h3>Total: $<%= products.reduce((total, p) => total + p.productId.price * p.quantity, 2) %></h3>
        </div>
<!--        <form action="/create-order" method="POST" class="checkout-form">-->
<!--            <input type="hidden" name="_csrf" value="<%= csrfToken %>">-->
<!--            <button class="btn btn-checkout" type="submit">Order Now!</button>-->
<!--        </form>-->
        <div>
            <a class="btn btn-checkout" href="/checkout">Order Now</a>
        </div>
    <% } else { %>
        <h1 class="empty-cart">No products in Cart</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>
